@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";

@source "../node_modules/heroui-native/lib";

:root {

    /* Border Radius */
    --radius: 0.5rem;
    --field-radius: 0.5rem;

    /* Font Family */
    /* Make sure to load Inter font in your app */
    --font-sans: var(--font-inter);
}

/* global.css */
@layer theme {

    @variant light {
        /* Theme Colors (Light Mode) */
        --accent: oklch(75.36% 0.1637 50.40);
        --accent-foreground: oklch(15% 0.0300 50.40);
        --background: oklch(97.02% 0.0016 50.40);
        --border: oklch(90.00% 0.0016 50.40);
        --danger: oklch(65.32% 0.2335 1.33);
        --danger-foreground: oklch(99.11% 0 0);
        --default: oklch(94.00% 0.0016 50.40);
        --default-foreground: oklch(21.03% 0.0059 50.40);
        --field-background: oklch(100.00% 0.0008 50.40);
        --field-foreground: oklch(21.03% 0.0016 50.40);
        --field-placeholder: oklch(55.17% 0.0032 50.40);
        --focus: oklch(75.36% 0.1637 50.40);
        --foreground: oklch(21.03% 0.0016 50.40);
        --muted: oklch(55.17% 0.0032 50.40);
        --overlay: oklch(100.00% 0.0005 50.40);
        --overlay-foreground: oklch(21.03% 0.0016 50.40);
        --scrollbar: oklch(87.10% 0.0016 50.40);
        --segment: oklch(100.00% 0.0016 50.40);
        --segment-foreground: oklch(21.03% 0.0016 50.40);
        --separator: oklch(92.00% 0.0016 50.40);
        --success: oklch(73.29% 0.1941 126.40);
        --success-foreground: oklch(21.03% 0.0059 126.40);
        --surface: oklch(100.00% 0.0008 50.40);
        --surface-foreground: oklch(21.03% 0.0016 50.40);
        --surface-secondary: oklch(95.24% 0.0013 50.40);
        --surface-secondary-foreground: oklch(21.03% 0.0016 50.40);
        --surface-tertiary: oklch(93.73% 0.0013 50.40);
        --surface-tertiary-foreground: oklch(21.03% 0.0016 50.40);
        --warning: oklch(78.19% 0.1590 47.92);
        --warning-foreground: oklch(21.03% 0.0059 47.92);


    }

    @variant dark {
        color-scheme: dark;
        /* Theme Colors (Dark Mode) */
        --accent: oklch(75.36% 0.1637 50.40);
        --accent-foreground: oklch(15% 0.0300 50.40);
        --background: oklch(12.00% 0.0016 50.40);
        --border: oklch(28.00% 0.0016 50.40);
        --danger: oklch(59.40% 0.1973 0.22);
        --danger-foreground: oklch(99.11% 0 0);
        --default: oklch(27.40% 0.0016 50.40);
        --default-foreground: oklch(99.11% 0 0);
        --field-background: oklch(21.03% 0.0032 50.40);
        --field-foreground: oklch(99.11% 0.0016 50.40);
        --field-placeholder: oklch(70.50% 0.0032 50.40);
        --focus: oklch(75.36% 0.1637 50.40);
        --foreground: oklch(99.11% 0.0016 50.40);
        --muted: oklch(70.50% 0.0032 50.40);
        --overlay: oklch(21.03% 0.0032 50.40);
        --overlay-foreground: oklch(99.11% 0.0016 50.40);
        --scrollbar: oklch(70.50% 0.0016 50.40);
        --segment: oklch(39.64% 0.0016 50.40);
        --segment-foreground: oklch(99.11% 0.0016 50.40);
        --separator: oklch(25.00% 0.0016 50.40);
        --success: oklch(73.29% 0.1941 126.40);
        --success-foreground: oklch(21.03% 0.0059 126.40);
        --surface: oklch(21.03% 0.0032 50.40);
        --surface-foreground: oklch(99.11% 0.0016 50.40);
        --surface-secondary: oklch(25.70% 0.0024 50.40);
        --surface-secondary-foreground: oklch(99.11% 0.0016 50.40);
        --surface-tertiary: oklch(27.21% 0.0024 50.40);
        --surface-tertiary-foreground: oklch(99.11% 0.0016 50.40);
        --warning: oklch(82.03% 0.1392 51.93);
        --warning-foreground: oklch(21.03% 0.0059 51.93);
    }
}