@import 'tailwindcss';

@theme {
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-background: var(--background);
    --color-border: var(--border);
    --color-danger: var(--danger);
    --color-danger-foreground: var(--danger-foreground);
    --color-default: var(--default);
    --color-default-foreground: var(--default-foreground);
    --color-field-background: var(--field-background);
    --color-field-foreground: var(--field-foreground);
    --color-field-placeholder: var(--field-placeholder);
    --color-focus: var(--focus);
    --color-foreground: var(--foreground);
    --color-muted: var(--muted);
    --color-muted-dim: var(--muted-dim);
    --color-overlay: var(--overlay);
    --color-overlay-foreground: var(--overlay-foreground);
    --color-scrollbar: var(--scrollbar);
    --color-segment: var(--segment);
    --color-segment-foreground: var(--segment-foreground);
    --color-separator: var(--separator);
    --color-success: var(--success);
    --color-success-foreground: var(--success-foreground);
    --color-surface: var(--surface);
    --color-surface-foreground: var(--surface-foreground);
    --color-surface-secondary: var(--surface-secondary);
    --color-surface-secondary-foreground: var(--surface-secondary-foreground);
    --color-surface-tertiary: var(--surface-tertiary);
    --color-surface-tertiary-foreground: var(--surface-tertiary-foreground);
    --color-warning: var(--warning);
    --color-warning-foreground: var(--warning-foreground);

    --radius-DEFAULT: var(--radius);
    --radius-field: var(--field-radius);

    --font-sans: 'DM Sans', system-ui, sans-serif;
}

@layer utilities {
    .text-shadow {
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
}

:root {
    --accent: oklch(70.45% 0.1926 39.23);
    --accent-foreground: oklch(15% 0.0300 39.23);
    --background: oklch(97.02% 0.0000 39.23);
    --border: oklch(90.00% 0.0000 39.23);
    --danger: oklch(65.32% 0.2328 359.99);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(94.00% 0.0000 39.23);
    --default-foreground: oklch(21.03% 0.0059 39.23);
    --field-background: oklch(100.00% 0.0000 39.23);
    --field-foreground: oklch(21.03% 0.0000 39.23);
    --field-placeholder: oklch(55.17% 0.0000 39.23);
    --focus: oklch(70.45% 0.1926 39.23);
    --foreground: oklch(21.03% 0.0000 39.23);
    --muted: oklch(55.17% 0.0000 39.23);
    --muted-dim: oklch(70% 0.0000 39.23);
    --overlay: oklch(100.00% 0.0000 39.23);
    --overlay-foreground: oklch(21.03% 0.0000 39.23);
    --scrollbar: oklch(87.10% 0.0000 39.23);
    --segment: oklch(100.00% 0.0000 39.23);
    --segment-foreground: oklch(21.03% 0.0000 39.23);
    --separator: oklch(92.00% 0.0000 39.23);
    --success: oklch(73.29% 0.1935 125.06);
    --success-foreground: oklch(21.03% 0.0059 125.06);
    --surface: oklch(100.00% 0.0000 39.23);
    --surface-foreground: oklch(21.03% 0.0000 39.23);
    --surface-secondary: oklch(95.24% 0.0000 39.23);
    --surface-secondary-foreground: oklch(21.03% 0.0000 39.23);
    --surface-tertiary: oklch(93.73% 0.0000 39.23);
    --surface-tertiary-foreground: oklch(21.03% 0.0000 39.23);
    --warning: oklch(78.19% 0.1585 46.58);
    --warning-foreground: oklch(21.03% 0.0059 46.58);
    --radius: 0.25rem;
    --field-radius: 0.75rem;
    --font-sans: 'DM Sans', system-ui, sans-serif;
}

.dark {
    --accent: oklch(70.45% 0.1926 39.23);
    --accent-foreground: oklch(15% 0.0300 39.23);
    --background: oklch(12.00% 0.0000 39.23);
    --border: oklch(28.00% 0.0000 39.23);
    --danger: oklch(59.40% 0.1967 358.88);
    --danger-foreground: oklch(99.11% 0 0);
    --default: oklch(27.40% 0.0000 39.23);
    --default-foreground: oklch(99.11% 0 0);
    --field-background: oklch(21.03% 0.0000 39.23);
    --field-foreground: oklch(99.11% 0.0000 39.23);
    --field-placeholder: oklch(70.50% 0.0000 39.23);
    --focus: oklch(70.45% 0.1926 39.23);
    --foreground: oklch(99.11% 0.0000 39.23);
    --muted: oklch(70.50% 0.0000 39.23);
    --muted-dim: oklch(55% 0.0000 39.23);
    --overlay: oklch(21.03% 0.0000 39.23);
    --overlay-foreground: oklch(99.11% 0.0000 39.23);
    --scrollbar: oklch(70.50% 0.0000 39.23);
    --segment: oklch(39.64% 0.0000 39.23);
    --segment-foreground: oklch(99.11% 0.0000 39.23);
    --separator: oklch(25.00% 0.0000 39.23);
    --success: oklch(73.29% 0.1935 125.06);
    --success-foreground: oklch(21.03% 0.0059 125.06);
    --surface: oklch(21.03% 0.0000 39.23);
    --surface-foreground: oklch(99.11% 0.0000 39.23);
    --surface-secondary: oklch(25.70% 0.0000 39.23);
    --surface-secondary-foreground: oklch(99.11% 0.0000 39.23);
    --surface-tertiary: oklch(27.21% 0.0000 39.23);
    --surface-tertiary-foreground: oklch(99.11% 0.0000 39.23);
    --warning: oklch(82.03% 0.1388 50.59);
    --warning-foreground: oklch(21.03% 0.0059 50.59);
    --radius: 0.25rem;
    --field-radius: 0.75rem;
}